<div class="h-screen">
  <h1>broadcast List</h1>

  <div class="card p-6">
    <p-table
      [value]="broadcasts"
      [tableStyle]="{ 'min-width': '60rem' }"
      [rows]="10"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 20, 30]"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Broadcasts
          <div *ngIf="isAdmin">
            <app-button
              label="Create"
              routerLink="/broadcasts/create"
              icon="pi pi-plus"
            ></app-button>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th>No.</th>
          <th>Subject</th>
          <th>Title</th>
          <th>Description</th>
          <th *ngIf="isAdmin">Broadcast</th>
          <th *ngIf="isAdmin">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-broadcast let-rowIndex="rowIndex">
        <tr>
          <td>{{ rowIndex + 1 }}</td>
          <td>{{ broadcast.subject }}</td>
          <td>{{ broadcast.title }}</td>
          <td>{{ broadcast.description }}</td>
          <td *ngIf="isAdmin">
            <app-button
              label="Send"
              [loading]="loading"
              (clickChange)="sendEmail(broadcast)"
            ></app-button>
          </td>
          <td *ngIf="isAdmin">
            <div class="flex justify-content-between w-5">
              <i
                (click)="onDeleteModal(broadcast.id)"
                class="pi pi-trash text-red-500 cursor-pointer"
                style="font-size: 1rem"
                pTooltip="Delete"
                tooltipPosition="top"
                [showDelay]="300"
                [hideDelay]="200"
              ></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          In total there are
          {{ broadcasts ? broadcasts.length : 0 }} Broadcasts.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<!-- Delete Banner Pop Up -->
<p-dialog
  header="Confirmation"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '50vw' }"
  [draggable]="false"
  [resizable]="false"
>
  <p class="m-0">Are you sure want to delete this Broadcast?</p>
  <ng-template pTemplate="footer">
    <app-button
      label="Delete"
      icon="pi pi-trash"
      classBtn="p-button-danger"
      (clickChange)="deleteModal()"
    >
    </app-button>
    <app-button
      label="Cancel"
      icon="pi pi-times"
      classBtn="p-button-secondary"
      (click)="visible = false"
    >
    </app-button>
  </ng-template>
</p-dialog>
